<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="icon" type="image/x-icon" href="/assets/images/korax.ico">
    {% include head.html %}
</head>

<body>
    <style>
        body {
          background-image: url('https://raw.githubusercontent.com/koraxial/koraxial.github.io/refs/heads/website/assets/images/background.png');
        }
    </style>
    
    <div class="wrapper">
        <header class="wrapper-header">
            {% include header.html %}
        </header>

        <main class="wrapper-main">
            <div class="main-content">
            {{ content }}
            </div>
        </main>
    </div>

    <footer class="wrapper-footer">
        {% include footer.html %}
    </footer>
</body>
</html>
