<!DOCTYPE html>
<html lang="en">
<script src="assets/js/error.js"></script>
    
<head>
    <link rel="stylesheet" href="assets/css/error.css">
</head>
    
<body>
<meta http-equiv="refresh" content="30; url=https://koraxial.github.io/">
<p align="center"><h2>ERROR 404</h2>
</br><h3>Click <a href="https://koraxial.github.io">HERE</a> to go Home. Enjoy Space Invaders in the meantime! :D</h3>
<br/> Use <span class="label label-danger">Space</span> to shoot and <span class="label label-danger">←</span>&#160;<span class="label label-danger">→</span> to move!&#160;&#160;&#160;<button class="btn btn-default btn-xs" id="restart">Restart</button></p>

<canvas id="space-invaders"/></p>
</body>
</html>
