<!DOCTYPE html>
<html lang="en">
<script src="assets/js/error.js"></script>
    
<head>
    <link rel="stylesheet" href="assets/css/error.css">
    <meta http-equiv="refresh" content="30; url=https://koraxial.github.io/">
</head>
    
<body>
<p align="center"><h3>ERROR 404</h3>
</br><h4>You will automatically be redirected to koraxial.github.io in 30 secs, enjoy Space Invaders in the meantime! :D</h4>
<br/> Use <span class="label label-danger">Space</span> to shoot and <span class="label label-danger">←</span>&#160;<span class="label label-danger">→</span> to move!&#160;&#160;&#160;<button class="btn btn-default btn-xs" id="restart">Restart</button></p>

<canvas id="space-invaders"/>
</body>
</html>
